<header>
    <nav>
        <label for="menu-dropdown" class="menu-dropdown--toggle">Menu</label>
        <input type="checkbox" id="menu-dropdown" />
        <ul class="menu">
            <li><a href="/" target="_top" class="<%= (path === "/") ? " active " : null %>">Home</a></li>
            <li><a href="/history" target="_top" class="<%= (path === "/history") ? " active " : null %>">History</a></li>
            <li><a href="/features" target="_top" class="<%= (path === "/features") ? " active " : null %>">Features</a></li>
            <li><a href="/installation" target="_top" class="<%= (path === "/installation") ? " active " : null %>">Installation</a></li>
            <li><a href="/contact" target="_top" class="<%= (path === "/contact") ? " active " : null %>">Contact</a></li>
            <li><a href="/assessment" target="_top" class="<%= (path === "/assessment") ? " active " : null %>">Assessment</a></li>
        </ul>
    </nav>
    <div id="title-logo">
        <img src="../../assets/1200px-Laravel-white.png" alt="Laravel Logo">
        <h1>
            <%= page_name %>
        </h1>
        <h2>
            <% if (path !== "/login") { %>
                <% if (logged_in) { %>
                    <div class="row">
                        <div class="col-12 text-center">
                            <small>Logged in as:</small> <span style="font-weight: bold;"> <%= auth_user %> </span>
                        </div>
                        <div class="col-12 text-center">
                            <a class="btn btn-sm btn-outline-red" href="/logout">Logout</a>
                        </div>
                    </div>
                    <% } else { %>
                        <div class="row">
                            <div class="col-12 text-center">
                                <a class="btn btn-outline-red" href="/login">Login</a>
                            </div>
                        </div>
                        <% } %>
                            <% } %>
        </h2>
    </div>
</header>