<% extend('./partials/layout', {title: "Authenticate", header: "Profile", description: "Authentication login page"}) %>

    <main id="profile-page" class="hcenter text-center">

        <h1>Profile of</h1>
        <span><%= user.name %></span>

        <form method="POST" action="/change-username" enctype="application/x-www-form-urlencoded">
            <div class="row my-2 mt-4">
                <div class="col-6 my-auto">
                    <label for="#username">Username</label>
                    <input id="username" value="<%= user.name %>" name="username" placeholder="Username" type="text" class="form-control shadow-sm <% if(typeof username !== 'undefined') { %> is-invalid <% } %>" />
                    <% if(typeof username !== 'undefined') { %> 
                        <span class="validation-error"><%= username %></span>    
                    <% } %>
                </div>
                <div class="col-6 my-auto">
                    <button type="submit" class="btn btn-sm btn-red mx-auto">Change username</button>
                </div>
            </div>
        </form>

        <form method="POST" action="/change-password" enctype="application/x-www-form-urlencoded">
            <div class="row my-2 mt-4">
                <div class="col-4 my-auto">
                    <label for="#password">Password</label>
                    <input id="password" name="password" placeholder="Password" type="password" class="form-control shadow-sm <% if(typeof password !== 'undefined') { %> is-invalid <% } %>" />
                    <% if(typeof password !== 'undefined') { %> 
                        <span class="validation-error"><%= password %></span>    
                    <% } %>
                </div>
                <div class="col-4 my-auto">
                    <label for="#password_confirm">Confirm Password</label>
                    <input id="password_confirm" name="password_confirm" placeholder="Password" type="password" class="form-control shadow-sm <% if(typeof password_confirm !== 'undefined') { %> is-invalid <% } %>" />
                    <% if(typeof password_confirm !== 'undefined') { %> 
                        <span class="validation-error"><%= password_confirm %></span>    
                    <% } %>
                </div>
                <div class="col-4 my-auto">
                    <button type="submit" class="btn btn-sm btn-red mx-auto">Change password</button>
                </div>
            </div>
        </form>

        

        
        <% let correct_answers = 0;%>
        <% let total_answers = 0;%>

        <% for(let quiz in quizes) { %>
        <%     let countCorrect = answers.filter((answer) => (answer.quiz_id == quiz && answer.correct)).length; console.log(quiz);%>
        <%     correct_answers += countCorrect; %>
        <%     total_answers += answers.filter((answer) => answer.quiz_id == quiz).length;%>
        
            <div>
                <h2><%= quizes[quiz].title %></h2>
                <p>Ammount correct: <%=  %></p>
            </div>
        <% } %>


        <div>
            <h2>Percentage correct:</h2>
            <p><%= (correct_answers / total_answers) * 100%>%</p>
        </div>
        

    </main>